:root {
  --font-color: rgb(231, 231, 231);
  --background: #1a1a1a;
  --background-hover: #1f1f1f;
  --foreground: #252525;
  --foreground-accent: #444444;
  --hover: #303030;

  --highlight: #d87e08;
  --highlight-faded: #a37232;
  --highlight-hover: #ff6600;
  --warning: #e24a4a;
  --warning-hover: #e13525;

  --selection-color: #3891ff7a;

  --success: #36ff04;

  /* Toast variables */
  --toastContainerTop: 2.5rem;
}